#name {
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);  
  }

.char {
  transform: translateY(100%);
}

.line {
  transform: translateY(200%);
}

#title {
  font-kerning: none;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  /* clip-path: inset(10px 0px -500px 0px); */
}

#intro{
  /* display: visible; */
  transition-delay: 2s;
  transition-property: display;
  /* transition: display 3s; */
}

.logo {
  background-color: white;
  scale: 1.5;
  max-height: 60px;
  /* max-height: 80px; */
  /* color: black; */
  border: 1px solid white;
  align-items: center;
  object-fit: contain;
}

.logo li {
  /* margin: 0px 20px; */
}